@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,800&display=swap');
:root{
    --font: 'nunito', sans-serif;
    --shadow:1px 1px 4px 0px rgb(108, 107, 107);
    --mørkgrøn: #27847f;
    --grøn: #5eaeae;
    --lysgrøn: #cfe6de;
    --grå: #ebebeb;
    --gul: #f1c075;
    --sortgrøn: #132c2c;
}

body{
    background-color: var(--grå);
}
/*Første sektion med overskrift, liste og knap*/
h1{
    background-color: var(--mørkgrøn);
    font-family: var(--font);
    color: var(--lysgrøn);
    width: 10em;
    border-radius: 25px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 0.5em;
    margin-left: 1.3em;
    margin-top: 1em;
    box-shadow: var(--shadow);
}
.medlemsfordele{
    position: relative;
    border-radius: 25px;
    z-index: -1;
    margin-top: -3em;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 4em;
    padding-bottom: 2em;
    padding-right: 1em;
    padding-left: 2em;
    background-color: var(--lysgrøn);
    font-family: var(--font);
    line-height: 2em;
    list-style: "+  ";
    box-shadow: var(--shadow);
}
.boksogknap{
    position: relative;
}
.premiumknap{
    position: absolute;
    font-family: var(--font);
    background-color: var(--gul);
    border-radius: 25px;
    padding:0.7em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    bottom: -1em;
    right: 0.2em;
    box-shadow: var(--shadow);
}
.note{
    position: absolute;
    font-family: var(--font);
    font-size:small;
    font-style: italic;
    bottom: -3em;
    right: 1em;
}
/*Første sektion slut*/
hr{
    border-style: dotted;
    border-top: 3px;
    color: var(--mørkgrøn);
    margin: auto;
    margin-top: 4em;
    width: 81vw;
}
/*Anden sektion med formular til oplysninger*/
.opret-konto h3{
    position: absolute;
    background-color: var(--grøn);
    font-family: var(--font);
    color: var(--grå);
    width: 8em;
    border-radius: 25px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 0.5em;
    margin-left:1.2em;
    margin-top: -1.5em;
    box-shadow: var(--shadow);
}
.formular{
    margin-top: 4em;
    font-family: var(--font);
    background-color: var(--lysgrøn);
    box-shadow: var(--shadow);
    padding-top:2.5em;
    padding-left: 2em;
    padding-right:2em;
}
.udfyld{
    width: 80vw;
    max-width: 25em;
    height: 2em;
    border-style: none;
    box-shadow: var(--shadow);
    border-radius: 25px;
    margin-bottom:1.5em;
}
.bund{
    margin-bottom: -1em;
}
.opret-konto p{
    position: relative;
    font-family: var(--font);
    font-size:x-small;
    top: 1.5em;
    margin-left: 3.5em;
}
/*Anden sektion slut*/
/*Tredje sektion med valg af abonnement*/
.vælg-abonnement h3{
    position: absolute;
    background-color: var(--grøn);
    font-family: var(--font);
    color: var(--grå);
    width: 9.5em;
    border-radius: 25px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 0.5em;
    margin-left: 1.6em;
    margin-top: -3em;
    box-shadow: var(--shadow);
}
.vælg-abonnement{
    background-color: var(--mørkgrøn);
    box-shadow: var(--shadow);
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 5em; 

}
.vælg-abonnement section{
    position: relative;
    border-radius: 25px;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 3em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-right: 1em;
    background-color: var(--lysgrøn);
    font-family: var(--font);
    line-height: 1.5em;
    box-shadow: var(--shadow);
}
.vælg-abonnement h4{
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em;
}
.vælg-abonnement li{
    list-style: "-  ";
    margin-left: 2em;
}
.mnd3{
    position: relative;
}
.spar18{
    font-family: var(--font);
    font-size:1.5em;
    background-color: var(--gul);
    box-shadow: var(--shadow);
    position: absolute;
    border-radius: 25px;
    padding: 1em;
    width: 2.3em;
    text-align: center;
    bottom: -1em;
    right: -1.3em;
}
.mnd6{
    position: relative;
}
.spar30{
    font-family: var(--font);
    font-size:1.5em;
    background-color: var(--gul);
    box-shadow: var(--shadow);
    position: absolute;
    border-radius: 25px;
    padding: 1em;
    width: 2.3em;
    text-align: center;
    bottom: -1em;
    right: -1.3em;
}
.info{
    background-color: var(--grøn);
    color: var(--lysgrøn);
    font-family: var(--font);
    padding: 1em;
    border-radius: 25px;
    position: absolute;
    margin-left: 2em;
    margin-right: 2em;
    margin-top:0em;
    box-shadow: var(--shadow);
}
/*Tjekbokse og opret knap nederst på siden*/
.nederst{
    position: absolute;
    margin-top: 3em;
}
.accept input{
    position: absolute;
}
.valg{
   display: block; 
   position: relative;
   margin-left: 2em;
   padding-bottom: 0.5em;
}
.accept{
    margin-left: 2em;
    margin-top: 5em;
    font-family: var(--font);
}
.opret-knap{
    position: absolute;
    background-color: var(--gul);
    font-family: var(--font);
    border-radius: 25px;
    padding: 0.2em;
    width: 10em;
    box-shadow: var(--shadow);
    left: 2em;
}
/*Tredje sektion slut*/
.afslut{
    margin-top: 20em;
}
@media screen and (min-width: 600px) {
    /*Første sektion*/
    h1{
        font-size: 2em;
        margin-top: 1.3em;
        margin-left: 10em;
    }
    .medlemsfordele{
        min-width: 45em;
        max-width: 60em;
        margin-left: 25em;
        margin-right: 15em;
        height: 20em;
    }
    .medlemsfordele li{
        position: relative;
        margin-left: 1em;
        margin-top: 1em;
        font-size: 1.4em;
    }
    .boksogknap{
        position: relative;
        height: 18em;
    }
    .premiumknap{
        left: 40em;
        width: 10em;
        font-size: 1.8em;
        padding: 0.5em;
        text-align: center;
    }
    .note{
        font-size: 1em;
        left: 73em;
        top: 22.5em;
        width: 25em;
    }
    /*Første sektion slut*/
    hr{
        margin: auto;
        margin-top: 8em;
        margin-bottom: 2em;
    }
    /*Anden sektion med formular til oplysninger*/
    .flexcontainer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        background-color: var(--grøn);
        height: 30em;
        margin-top: 5em;
        box-shadow: var(--shadow);
    }
    .opret-konto h3{
        background-color: var(--mørkgrøn);
    }
    .opret-konto{
        margin-left: 5em;
    }
    .formular{
        position: relative;
        margin-top: 1em;
        background: none;
        box-shadow: none;
        color: var(--lysgrøn);
    }
    .bund{
        margin-bottom: -0.5em;
    }
    /*Anden sektion slut*/
    /*Tredje sektion med valg af abonnement*/
.vælg-abonnement h3{
    background-color: var(--mørkgrøn);
}
.vælg-abonnement{
    background: none;
    box-shadow: none;
    margin-top: 0;
    margin-right: 5em;
}
.vælg-abonnement section{
    display: flex;
    flex-direction: column;
    width: 25em;
    height: 13em;
    margin-bottom: 4em;
}
.vælg-abonnement li{
    position: relative;
    line-height: 1em;
    margin-left: 2em;
    margin-top: 1em;
}
.info{
    background-color: var(--mørkgrøn);
    margin-left: 41.5em;
    margin-top:-30em;
    width: 19em;
}

/*Tjekbokse og opret knap nederst på siden*/
.nederst{
    position: absolute;
    margin-top:-28em;
    margin-left: 40em;
    width: 23em;
}
.accept{
    font-size: 1.1em;
}
/*Tredje sektion slut*/
.afslut{
    margin-top: 30em;
}
}