@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,800;0,900;1,400&family=Vast+Shadow&display=swap');

/* nav begynder */
    
#logo {
    height: 62px;
    margin: .5rem;
}

.navbar {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CFE6DE;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    height: 70px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #132C2C;
    padding: 1rem;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 12px;
    background-color: #CFE6DE;
    text-align: left;
}

.toggle-button {
    position: absolute;
    top: 27px;
    right: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
}

.toggle-button .bar {
    height: 5px;
    width: 60px;
    background-color: #27847F;
    border-radius: 10px;
}

.toggle-button {
    display: flex;
    position: absolute;
}

.navbar-links {
    display: none;
    width: 100%;
}

.navbar {
    flex-direction: column;
    align-items: flex-start;
}

.navbar-links ul {
    width: 100%;
    flex-direction: column;
}

.navbar-links li {
    text-align: center;
}

.navbar-links a {
    padding: .5rem 1rem;
}

.navbar-links.active {
    display: flex;
}

@media screen and (min-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    body {
        background-color: #EBEBEB;
    }
    .logo {
        padding: 3px;
    }
    .toggle-button {
        display: none;
    }
    .navbar {
        flex-direction: row;
        align-items: center;
        min-width: none;
    }
    .navbar-links li a {
        text-decoration: none;
        color: #27847F;
        padding: 1rem;
        display: block;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 12px;
        background-color: #CFE6DE;
        text-align: left;
    }
    .navbar-links {
        width: 50%;
        display: inline;
    }
    .navbar-links li {
        display: inline-block;
        justify-content: right;
    }
    .navbar-links ul {
        display: flex;
        margin: auto;
        flex-direction: row;
    }
    li {
        float: right;
    }
    li a {
        display: block;
        position: relative;
        margin: 0;
        text-decoration: none;
        font-size: 10px;
        font-family: 'Nunito', sans-serif, Arial;
        z-index: 9;
    }
    li i {
        margin: 0;
    }
    li a:hover {
        color: #F1C075;
    }
    li a:active {
        color: #F1C075;
    }
    hr {
        border-top: 3px dotted#43827E;
        margin-left: 20px;
        margin-right: 58px;
    }
    
    .ung-img {
        height: 280px;
        width: 200px;
        border-radius: 20px;
        margin-left: 15px;
        margin-top: 20px;
    }
    
    .brødtekst-funktioner {
        background-color: #CFE6DE;
        width: 265px;
        text-align: left;
        color: #132C2C;
        padding: 17px 10px 17px 17px;
        border-radius: 20px;
        font-family: 'Nunito', sans-serif, Arial;
        font-size: 16px;
        margin: 35px 50px 0px 12px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    }
}
/* Nav Slut */


/* Mobil version */

body {
    background-color: #EBEBEB;
}

.front-img {
    display: block;
    height: 280px;
    width: 250px;
    border-radius: 20px;
    margin-top: 280px;
    margin-left: 115px;
}

.front-container {
    display: flex;
    flex-wrap: wrap;
}

.overskrift {
    background-color: #27847F;
    width: 250px;
    text-align: center;
    color: #EBEBEB;
    padding: 17px 5px 17px 5px;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif, Arial;
    font-weight: bolder;
    font-size: 22px;
    margin: 12px 50px 0px -260px;
    position: absolute;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.brødtekst {
    background-color: #CFE6DE;
    width: 265px;
    text-align: left;
    color: #132C2C;
    padding: 40px 10px 17px 17px;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif, Arial;
    font-size: 16px;
    margin: -515px 400px 0px 90px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.boxsofa{
    background-color: #CFE6DE;
    width: 600px;
    height: 250px;
    margin-top: -220px;
    box-shadow:0 3px 10px rgb(0 0 0 / 0.3);

}

hr {
    border-top: 3px dotted#43827E;
    margin-left: 20px;
    margin-right: 58px;
    margin-top: 30px;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.hvemerboligbosstil{
   background-color: #27847F;
   width: 250px;
   text-align: center;
   color: #EBEBEB;
   padding: 17px 5px 17px 5px;
   border-radius: 20px;
   font-family: 'Nunito', sans-serif, Arial;
   font-weight: bolder;
   font-size: 22px;
   margin: 20px 50px 0px 105px;
    position: absolute;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);

}
.ung-img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    margin-left: 295px;
    margin-top: -30px;
    
}

.brødtekst-infoboligboss {
    background-color: #CFE6DE;
    width: 265px;
    text-align: left;
    color: #132C2C;
    padding: 17px 10px 17px 17px;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif, Arial;
    font-size: 16px;
    margin: 70px 50px 0px 90px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.boxung{
    background-color: #5EAEAE;
    width: 600px;
    height: 270px;
    margin-top: -300px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.containerlogo {
    display: flex;
    flex-wrap: wrap;
}

.hvemervi{
   background-color: #27847F;
   width: 250px;
   text-align: center;
   color: #EBEBEB;
   padding: 17px 5px 17px 5px;
   border-radius: 20px;
   font-family: 'Nunito', sans-serif, Arial;
   font-weight: bolder;
   font-size: 22px;
   margin: 75px 50px 0px 105px;
    position: absolute;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);

}
.logo-img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: -20px;
    
}

.brødtekst-hvemervi {
    background-color: #CFE6DE;
    width: 265px;
    text-align: left;
    color: #132C2C;
    padding: 30px 30px 17px 17px;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif, Arial;
    font-size: 16px;
    margin: 125px 50px 0px 90px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.boxlogo{
    background-color: #5EAEAE;
    width: 600px;
    height: 270px;
    margin-top: -250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

hr{
    border-top: 3px dotted#43827E;
    margin-left: 20px;
    margin-right: 58px;
    margin-top: 30px;
}

/*Foter starter*/

/* Mobil version slut*/


/* Web version */

@media screen and (min-width: 600px) {
    .front-img {
        display: block;
        height: 500px;
        width: 700px;
        border-radius: 20px;
        margin-top: 60px;
        margin-left: 320px;
    }

    .front-container {
        display: flex;
        flex-wrap: wrap;
    }

    .overskrift {
        background-color: #27847F;
        width: 250px;
        text-align: center;
        color: #EBEBEB;
        padding: 30px 20px 17px px;
        border-radius: 20px;
        font-family: 'Nunito', sans-serif, Arial;
        font-weight: bolder;
        font-size: 30px;
        margin: 20px 6px 0px -780px;
        position: absolute;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    }

    .brødtekst {
        background-color: #CFE6DE;
        width: 265px;
        text-align: left;
        color: #132C2C;
        padding: 40px 10px 17px 17px;
        border-radius: 20px;
        font-family: 'Nunito', sans-serif, Arial;
        font-size: 16px;
        margin: -450px 350px 0px 230px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    }

    .boxsofa{
        background-color: #CFE6DE;
        width:auto;
        height: 250px;
        margin-top: -180px;
        box-shadow:0 3px 10px rgb(0 0 0 / 0.3);
    
    }

    hr {
        border-top: 3px dotted#43827E;
        margin-left: 20px;
        margin-right: 58px;
        margin-top: 60px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .hvemerboligbosstil{
        background-color: #27847F;
        width: 250px;
        text-align: center;
        color: #EBEBEB;
        padding: 17px 5px 17px 5px;
        border-radius: 20px;
        font-family: 'Nunito', sans-serif, Arial;
        font-weight: bolder;
        font-size: 22px;
        margin: 50px 50px 0px 290px;
        position: absolute;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    }

    .ung-img {
        height: 300px;
        width: 300px;
        border-radius: 20px;
        margin-left: 90px;
        margin-top: 240px;
        
    }
    
    .brødtekst-infoboligboss {
        background-color: #CFE6DE;
        width: 265px;
        text-align: left;
        color: #132C2C;
        padding: 17px 10px 17px 17px;
        border-radius: 20px;
        font-family: 'Nunito', sans-serif, Arial;
        font-size: 16px;
        margin: 100px 50px 0px 280px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    }

    .boxung{
        background-color: #5EAEAE;
        width: auto;
        height: 270px;
        margin-top: -400px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    }

    .containerlogo {
        display: flex;
        flex-wrap: wrap;
    }
    
    .hvemervi{
       background-color: #27847F;
       width: 250px;
       text-align: center;
       color: #EBEBEB;
       padding: 17px 5px 17px 5px;
       border-radius: 20px;
       font-family: 'Nunito', sans-serif, Arial;
       font-weight: bolder;
       font-size: 22px;
       margin: 180px 50px 0px 726px;
        position: absolute;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    
    }

    .logo-img {
        height: 270px;
        width: 270px;
        border-radius: 20px;
        margin-left: 290px;
        margin-top: -100px;
        
    }
    
    .brødtekst-hvemervi {
        background-color: #CFE6DE;
        width: 265px;
        text-align: left;
        color: #132C2C;
        padding: 30px 30px 17px 17px;
        border-radius: 20px;
        font-family: 'Nunito', sans-serif, Arial;
        font-size: 16px;
        margin: 230px 50px 0px 700px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    }
    
    .boxlogo{
        background-color: #5EAEAE;
        width: auto;
        height: 270px;
        margin-top: -320px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    }
    
    hr {
        border-top: 3px dotted#43827E;
        margin-left: 20px;
        margin-right: 58px;
        margin-top: px;
    }
    
    /*Foter starter*/
}


/* Web version slut*/