@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,800&display=swap');
body {
    margin: 0;
    padding: 0px;
    background-color: #EBEBEB;
}

h1 {
    height: 100px;
    width: 280px;
    padding-top: 35px;
    margin-top: 90px;
    margin-left: 38px;
    color: #132c2c;
    background-color: #cfe6de;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

h2 {
    position: absolute;
    z-index: 2;
    height: 20px;
    width: 250px;
    padding: 30px 20px;
    margin-left: 35px;
    margin-top: 30px;
    color: #CFE6DE;
    background-color: #27847f;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

hr {
    border-top: 3px dotted#43827E;
    margin-left: 20px;
    margin-right: 20px;

}
.btn {
    position: absolute;
    width: 150px;
    height: 60px;
    top: 15%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #27847f;
    color: #cfe6de;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}


/* w3schools.com/howto/howto_css_button_on_image.asp */


/* top delen med billeder BEGYNDER her....*/

.container {
    position: relative;
    width: 100%;
    padding: 10px;
}


.container img {
    width: 60%;
    height: auto;
    position: relative;
    border-radius: 15px;
    margin: auto;
    margin-left: 20px;
    margin-top: -50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}
    
.container img.rengøring {
    width: 60%;
    height: auto;
    position: relative;
    border-radius: 15px;
    margin: auto;
    margin-left: 100px;
    margin-top: -50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.gavekort {
    height: 150px;
    background-color: #5eaeae;
    margin-top: 80px;
    margin-bottom: 90px;
}

.rengøring {
    background-color: #cfe6de;
    margin-bottom: 90px;
}

.varer {
    background-color: #5eaeae;
    margin-bottom: 50px;
}


/* Knap ovenpå billeder */

.container .btn {
    position: absolute;
    width: 120px;
    height: 50px;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1c075;
    color: #132c2c;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.container .btn.rengøring {
    position: absolute;
    width: 120px;
    height: 50px;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1c075;
    color: #132c2c;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}
.container .btn:hover {
    background-color: #EBEBEB;
}


/* top delen med billeder SLUTTER her....*/

.grid-container {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto auto;
    row-gap: 8px;
    column-width: 3px;
    justify-content: space-evenly;
    background-color: #cfe6de;
    padding: 60px 4px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.boks1 {
    width: 120px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    color: #ebebeb;
    background-color: #5eaeae;
    border-radius: 25px;
    padding: 8px 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.boks2 {
    width: 120px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    color: #ebebeb;
    background-color: #5eaeae;
    border-radius: 25px;
    padding: 8px 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.boks3 {
    width: 120px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    color: #ebebeb;
    background-color: #5eaeae;
    border-radius: 25px;
    padding: 8px 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.boks4 {
    width: 120px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    color: #ebebeb;
    background-color: #5eaeae;
    border-radius: 25px;
    padding: 8px 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.boks5 {
    width: 120px;
    height: 40px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    color: #ebebeb;
    background-color: #5eaeae;
    border-radius: 25px;
    padding: 8px 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.boks6 {
    width: 120px;
    height: 40px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    color: #ebebeb;
    background-color: #5eaeae;
    border-radius: 25px;
    padding: 8px 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

@media screen and (min-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    ul hr {
        display: none;
    }
    h1 {
        margin-top: 90px;
        margin-left: 230px;
        
    }
    h2 {
        padding: 30px 20px;
        margin-left: 640px;
        margin-bottom: 0px;
    }
    .btn {
        position: absolute;
        top: 14%;
        left: 17%;
        width: 200px;
        height: 80px;
        font-size: 30px;
    }

    .flex-container {
        display:flex;
        width:100%;
        margin-top: 150px;
        margin-bottom: 100px;
    }

    .container img {
        margin-left: 115px;
        margin-top: -50px;
    }

    .container img.rengøring {
        margin-left: 115px;
        margin-top: -50px;
    }
    
    .container .btn {
        position: absolute;
        width: 120px;
        height: 50px;
        top: 77%;
        left: 72%;
    }

    .container .btn.rengøring {
        position: absolute;
        width: 120px;
        height: 50px;
        top: 77%;
        left: 72%;
    }

    .gavekort {
        background-color: #5eaeae;
        height: 350px;
        margin-top: 0px;
        margin-bottom: 50px;
        padding:0px;
    }
    
    .rengøring {
        background-color: #5eaeae;
        height: 350px;
        margin-bottom: 50px;
        padding:0px;
    }
    
    .varer {
        background-color: #5eaeae;
        height: 350px;
        margin-bottom: 50px;
        padding:0px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-row: auto auto;
        height: 30px;
        row-gap: 18px;
        column-gap: 20px;
        column-width: 20px;
        justify-content: center;
        padding: 80px;
    }
    .boks1 {
        width: 160px;
        height: 40px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        color: #ebebeb;
        background-color: #5eaeae;
        border-radius: 25px;
        padding: 8px 10px;
    }
    .boks2 {
        width: 160px;
        height: 40px;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        color: #ebebeb;
        background-color: #5eaeae;
        border-radius: 25px;
        padding: 8px 10px;
    }
    .boks3 {
        width: 160px;
        height: 40px;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        color: #ebebeb;
        background-color: #5eaeae;
        border-radius: 25px;
        padding: 8px 10px;
    }
    .boks4 {
        width: 160px;
        height: 40px;
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        color: #ebebeb;
        background-color: #5eaeae;
        border-radius: 25px;
        padding: 8px 10px;
    }
    .boks5 {
        width: 160px;
        height: 40px;
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: 2;
        color: #ebebeb;
        background-color: #5eaeae;
        border-radius: 25px;
        padding: 8px 10px;
    }
    .boks6 {
        width: 160px;
        height: 40px;
        grid-column-start: 3;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: 2;
        background-color: #5eaeae;
        border-radius: 25px;
        padding: 8px 10px;
    }
}